@model IEnumerable<Product>


  <table
      style="width: 100%; caption-side: bottom"
      id="ct-2efd2e3c-4e00-11ec-a93d-b34dba1f0acd"
      class="table table-striped dataTable no-footer dtr-column"
      aria-describedby="ct-2efd2e3c-4e00-11ec-a93d-b34dba1f0acd_info"
    >
      <thead>
        <tr role="row">


            <th style="width: 110px">
                Name
            </th>

            <th style="width: 280px">
                Description
            </th>

            <th style="width: 50px">
                Price
            </th>

            <th style="width: 50px">
                Quantity
            </th>

            <th style="width: 70px">
                Code
            </th>
             <th style="width: 100px">
                Supplier
            </th>
            <th style="width: 50px">
                Category
            </th>

        </tr>
      </thead>
      <tbody>
          @foreach (var item in Model.Skip(2).Take(2))
        {
           
            <tr>
                 
                <td >  @item.Name</td>
                <td >
                   
                     @item.Description
                </td>
                <td >
                   
                     @item.Price
                </td>
                <td >
                    @item.Quantity
                </td>
                <td >@item.ProductCode</td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""> @item.Supplier?.Name</a>
                   
                </td>
                <td >

                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">  @item.Categorie?.Name</a>
                </td>
              
            </tr>
            
        }

      </tbody>
    </table>