@model dynamic
<script src="/js/Product/Index.js"></script>
<link href="/css/Product/Index.css" rel="stylesheet" />


<h1>TESTS</h1>

@{
    int nextPageIndex;
    if(Model.id == 0)
    {
        nextPageIndex = 2;
    }
    else
    {
        nextPageIndex = Model.id+1;
    }

   int prevPageIndex = Model.id-1;
   

}
<div class="d-flex gap-3  test">
    @if (Model.id >1 )
{
        <div> <a class="btn btn-primary" asp-controller="Product" asp-action="Index" asp-route-id="@prevPageIndex">Previous</a>  </div>
    }
    else
    {
        <div> <a class="btn btn-primary disabled" disabled>Previous</a>  </div>
    }

@if (Model.id < Model.maxPageIndex)
{
        <div> <a class="btn btn-primary" asp-controller="Product" asp-action="Index" asp-route-id="@nextPageIndex">Next</a>  </div>
    }
    else
    {
        <div> <a class="btn btn-primary disabled" disabled>Next</a>  </div>
    }


</div>


  <table
      style="width: 100%; caption-side: bottom"
      id="ct-2efd2e3c-4e00-11ec-a93d-b34dba1f0acd"
      class="table table-striped dataTable no-footer dtr-column"
      aria-describedby="ct-2efd2e3c-4e00-11ec-a93d-b34dba1f0acd_info"
    >
      <thead>
        <tr role="row">


            <th style="width: 110px">
                Name
            </th>

            <th style="width: 280px">
                Description
            </th>

            <th style="width: 50px">
                Price
            </th>

            <th style="width: 50px">
                Quantity
            </th>

            <th style="width: 70px">
                Code
            </th>
             <th style="width: 100px">
                Supplier
            </th>
            <th style="width: 50px">
                Category
            </th>

        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.products)
        {
           
            <tr>
                 
                <td >  @item.Name</td>
                <td >
                   
                     @item.Description
                </td>
                <td >
                   
                     @item.Price
                </td>
                <td >
                    @item.Quantity
                </td>
                <td >@item.ProductCode</td>
                <td>
                    <a class="nav-link text-dark"  asp-controller="SupplierDetail" asp-action="Index" asp-route-id="@item.SupplierId"> @item.Supplier?.Name</a>
                   
                </td>
                <td >

                    <a class="nav-link text-dark">  @item.Categorie.Name</a>
                </td>
              
            </tr>
            
        }

      </tbody>
    </table>


                